body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: #0e1823;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding: 150px 0;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-page {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  width: 1240px;
  padding: 4px 30px;
}
.header-page .container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  gap: 375px;
  align-items: center;
}
.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
.header-list {
  display: flex;
  gap: 4px;
}
/* .header-list-item {
} */
.header-list-link {
  display: block;
  background: rgba(27, 65, 75, 0.5);
  border-radius: 8px;
  padding: 15px 25px 15px 24px;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}
.header-list-link:hover,
.header-list-link:focus {
  background: #1b414b;
}
.header-social {
  margin-left: auto;
}
/* .social-item {
} */
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* Main */

.main-section {
  position: relative;
  padding-bottom: calc(48px + 150px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: calc(48px + 155px);
  background: url(../images/first-screen-yacht.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  padding-bottom: calc(180px-48px);
}
.main-section.container {
  max-width: 1001px;
}
.main-title {
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 1001px;
  padding-bottom: 24px;
}

.main-descr {
  margin: 0 auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  max-width: 597px;
  padding-bottom: 48px;
}

.main-btn {
  display: block;
  border-radius: 15px;
  padding: 16px 40px;
  width: 179px;
  background: #1b414b;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin: 0 auto;
}

.main-btn:hover,
.main-btn:focus {
  background: #fbfbfb;
  color: #1b414b;
}

/* YachtJet Fleet section */

.yachtjet-section {
  max-width: 1340px;
  background: #fbfbfb;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 40px;
}

.yachtjet-info {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
  gap: 40px;
}
.yachtjet-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  max-width: 550px;
}

.yachtjet-about {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.jachtjet-paragraph-title {
  font-weight: 400;
  font-size: 23px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 20px;
}

.jachtjet-paragraph-descr {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
}

.yachtjet-img {
  object-fit: cover;
  border-radius: 24px;
}

/* Choose your dream yacht section */

.dreamyacht-main-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 714px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.dreamyacht-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.dreamyacht-item img {
  margin-bottom: 32px;
}
.dreamyacht-item {
  width: calc(100% - 32px * 2) / 3;
  border-radius: 24px;
  background: #fbfbfb;
  padding: 16px;
  margin-bottom: 50px;
}
.dreamyacht-clasification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 16px;
}
.dreamyacht-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
}

.dreamyacht-type {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}

.dreamyacht-details-list {
  padding: 0 16px 24px;
  margin: 0;
}

.dreamyacht-details-list li {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
}

.dreamyacht-details-list li p:first-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.4;
  color: #040306;
}

.dreamyacht-details-list li p:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #040306;
}

.dreamyacht-btn {
  display: block;
  margin: 0 auto;
  background: #0e1823;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  padding: 16px 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.dreamyacht-btn:hover,
.dreamyacht-btn:focus {
  background: #fbfbfb;
  color: #1b414b;
}
