body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: #0e1823;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
}

.header-page {
  background: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  width: 1240px;
  margin: 0 auto;
  padding: 4px 30px;
}
.header-page .container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  gap: 375px;
  align-items: center;
}
.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
.header-list {
  display: flex;
  gap: 4px;
}
.header-list-item {
}
.header-list-link {
  display: block;
  background: rgba(27, 65, 75, 0.5);
  border-radius: 8px;
  padding: 15px 25px 15px 24px;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}
.header-list-link:hover,
.header-list-link:focus {
  background: #1b414b;
}
.header-social {
  margin-left: auto;
}
.social-item {
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
