body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: #0e1823;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding: 75px 0;
}

.section .container {
  width: 100%;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
}

nav {
  display: flex;
  align-items: center;
}

.header-page {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  width: 1240px;
  padding: 4px 30px;
}
.header-page .container {
  display: flex;
  align-items: center;
}
.header-nav {
  gap: 375px;
}
.header-logo {
  color: #1b414b;
}
.nav-list {
  display: flex;
  gap: 4px;
}
/* .header-list-item {
} */
.nav-list-link {
  display: block;
  background: rgba(27, 65, 75, 0.5);
  border-radius: 8px;
  padding: 15px 25px 15px 24px;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-link:hover,
.header-list-link:focus {
  background: #1b414b;
}
.social-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-left: auto;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.social-icon {
  fill: #1b414b;
}
.social-icon:hover,
.social-icon:focus {
  fill: #062730;
}

/* Main */

.main-section {
  position: relative;
  padding-bottom: calc(48px + 150px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: calc(48px + 155px);
  background: url(../images/first-screen-yacht.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  padding-bottom: calc(180px-48px);
}
.main-section.container {
  max-width: 1001px;
}
.main-title {
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 1001px;
  padding-bottom: 24px;
}

.main-descr {
  margin: 0 auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  max-width: 597px;
  padding-bottom: 48px;
}

.main-btn {
  display: block;
  border-radius: 15px;
  padding: 16px 40px;
  width: 179px;
  background: #1b414b;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin: 0 auto;
}

.main-btn:hover,
.main-btn:focus {
  background: #fbfbfb;
  color: #1b414b;
}

/* YachtJet Fleet section */

.yachtjet-section {
  max-width: 1340px;
  background: #fbfbfb;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 40px;
}

.yachtjet-info {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
  gap: 40px;
}
.yachtjet-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  max-width: 550px;
}

.yachtjet-about {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.jachtjet-paragraph-title {
  font-weight: 400;
  font-size: 23px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 20px;
}

.jachtjet-paragraph-descr {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
}

.yachtjet-img {
  object-fit: cover;
  border-radius: 24px;
}

/* Choose your dream yacht section */

.dreamyacht-main-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 714px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.dreamyacht-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.dreamyacht-item img {
  margin-bottom: 32px;
}
.dreamyacht-item {
  width: calc(100% - 32px * 2) / 3;
  border-radius: 24px;
  background: #fbfbfb;
  padding: 16px;
  margin-bottom: 50px;
}
.dreamyacht-clasification {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 16px;
  margin-bottom: 16px;
}

.dreamyacht-clasification::after {
  position: absolute;
  content: "";
  bottom: -16px;
  width: 328px;
  height: 1px;
  background-color: rgba(4, 3, 6, 0.1);
  bottom: 0;
}
.dreamyacht-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
}

.dreamyacht-type {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}

.dreamyacht-details-list {
  padding: 0 16px 24px;
  margin: 0;
}

.dreamyacht-details-list li {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
}

.dreamyacht-details-list li p:first-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.4;
  color: #040306;
}

.dreamyacht-details-list li p:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #040306;
}

.dreamyacht-btn {
  display: block;
  margin: 0 auto;
  background: #0e1823;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  padding: 16px 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dreamyacht-btn:hover,
.dreamyacht-btn:focus {
  background: #fbfbfb;
  color: #1b414b;
}

/* Activities section */

.container.activities-container {
  max-width: 1340px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: #1b414b;
  border-radius: 24px;
  overflow: hidden;
  gap: 32px;
  padding: 0;
}

.activities-list {
  list-style: none;
  counter-reset: activity-counter;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  column-gap: 32px;
  row-gap: 44px;
  padding: 90px 50px;
  margin: 0;
}

.activities-list-item {
  position: relative;
  padding-top: 40px;
  max-width: 318px;
  width: calc(50% - 16px);
}

.activities-list-item::before {
  content: counter(activity-counter, decimal-leading-zero);
  counter-increment: activity-counter;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #fbfbfb;
}

.activities-list-item::after {
  content: "";
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  max-width: 318px;
  border-radius: 18px;
  height: 2px;
  background: rgba(251, 251, 251, 0.1);
}

.activities-list-descr {
  margin: 0;
  margin-top: 18px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  opacity: 0.8;
  max-width: 292px;
}

.activities-container img {
  width: 540px;
  max-width: 50%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  display: block;
}

/* Rentyacht section */

.container.rentyacht-container {
  max-width: 1340px;
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  overflow: hidden;
  gap: 50px;
  padding: 0;
}

.rentyacht-container img {
  width: 768px;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  display: block;
}

.rentyacht-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 50px;
}

.rentyacht-form {
  display: flex;
  flex-direction: column;
  width: 472px;
  height: 332px;
  gap: 18px;
}
.input-form {
  border: none;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 18px;
  width: 472px;
  height: 54px;
  background-color: transparent;
  outline: transparent;
  color: #fbfbfb;
}

.input-form:focus,
.input-form:focus-visible {
  outline: none;
  border-color: rgba(251, 251, 251, 0.5);
}

.input-form::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: rgba(251, 251, 251, 0.4);
}

.textarea-form {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 18px;
  width: 472px;
  height: 116px;
  background-color: transparent;
  outline: transparent;
  color: #fbfbfb;
  resize: none;
  margin-bottom: 20px;
}

.textarea-form:focus,
.textareaform:focus-visible {
  outline: none;
  border-color: rgba(251, 251, 251, 0.5);
}

.textarea-form::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: rgba(251, 251, 251, 0.4);
}

.form-btn {
  display: block;
  justify-content: center;
  align-items: center;
  min-width: 194px;
  border-radius: 15px;
  padding: 18px 75px;
  width: 194px;
  background: #1b414b;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.form-btn:hover,
.form-btn:focus {
  background: #fbfbfb;
  color: #1b414b;
}

/* Team section */

.team-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin: 0 auto;
  max-width: 754px;
  margin-bottom: 25px;
}

.team-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.4;
  margin: 0 auto;
  max-width: 521px;
  margin-bottom: 75px;
}

.team-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-list-item {
  width: calc(100% - 32px * 2) / 3;
  background: #fbfbfb;
  border-radius: 24px;
  padding: 32px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-list-item img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 24px;
}

.team-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin-bottom: 8px;
}

.team-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
  width: 290px;
}

.footer-container {
  max-width: 1390px;
  border-radius: 24px 24px 0 0;
  background: #1b414b;
  padding: 50px 75px;
}

.footer-logo {
  color: #fbfbfb;
}
.footer-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
}
.footer-nav {
  display: flex;
  gap: 409px;
  margin-right: 388px;
}
.footer-list {
  margin: 0 auto;
}

.footer-link {
  background: rgba(251, 251, 251, 0.3);
}

.footer-link:hover,
.footer-link:focus {
  background: #fbfbfb;
  color: #1b414b;
}

.footer-icon {
  fill: #fbfbfb;
}
.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  width: 699px;
  margin-bottom: 99px;
}

.footer-brand {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
}

.footer-brand-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}
